body {
  font-family: var(--font-roboto), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
  height: 100%;

}

a {
  color: #fff;
}

main {
  flex-grow: 1;
}