.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c2c2c;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

.notesWrapper {
    width: 100%;
    margin: 24px;
    overflow: scroll;

}